/*presentation*/

.presentation{
    background-color:$color-tertiary;
    background-size:cover;
    padding:30px;
    height:320px;
    display: flex;
    flex-direction: column;    
    h2{
        width:80%;        
        margin:0 auto 0 auto;
        text-align:center;
        line-height:70px;
        color:black;
    }
    a{
        border-radius: 30px;        
        background-color:darken($color-tertiary, 20%);
        width:30%;
        margin:auto;
        height:48px;
        text-align:center;
        line-height:48px;
        color:black;
        font-weight:bold;
        font-size:20px;
        box-shadow: -1px -1px 25px 2px rgba(154, 106, 106, 0.75);
        @include aAnimation;
        &:hover{
            transform:scale(0.9);
            &:after{
                opacity:1;
            }
        }
        &::after{
            @include afterScale;        
            border-radius: 40px;                      
            box-shadow: -1px -1px 25px 2px rgba(154, 106, 106, 0.75);
        }
    }
}

@media all and(max-width:800px){
    .presentation{
        h2{
            line-height:50px;
            font-size:20px;
        }
        a{
            width:30%;
            font-size:16px;            
        }
    }

}

@media all and(max-width:480px){
    .presentation{
        h2{
            font-size:18px;
            line-height:40px;
        }
        a{
            width:50%;            
        }
    }
}