/*product*/

.headerProduct{
    margin-bottom:30px;
}

.teddyProduct{
    width:95%;
    margin:auto;
    border-top: 1px darken($color-primary, 60%) solid;
    border-bottom: 1px darken($color-primary, 60%) solid;
    .coutureProduct{
        display:flex;        
        height:500px;
        margin: 20px 0;
        background-color:$color-tertiary;
        border-radius: 20px;
        .imageTeddy{
            width:40%;
            object-fit:cover;
            border-right: 2px $color-couture dashed;
            border-radius: 20px 0 0 20px;
        }
        .teddyDescriptionProduct{
            padding:20px;
            line-height:28px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;            
            h2{
                margin:0;
                font-size: 16px;
                margin-right:4px;
            }
            p{
                margin:0;
                margin-bottom:20px;
            }
            .teddyDescriptionChild{
                width:90%;
            }
            .textTeddyDescription{
                display:flex;             
            }
            nav{
                width:60%;
                border:1px darken($color-primary, 60%) solid;
                background-color:$color-secondary;
            }
            #buttonColor{
                display: flex; 
                justify-content: space-between;               
                width:100%;                
                height:100%;
                font-size:16px;
                color:lighten(black, 40%);                
                border:none;                
                background-color:$color-secondary;
                line-height:35px;
                cursor: pointer;
                span{
                    line-height:35px;                    
                } 
                #up{
                    display: none;
                }               
            }
            #navColors{
                display:none;                
                &.showColor{
                    display:flex;
                    flex-direction:column;
                    position:relative;                    
                    margin:0;
                    width:100%;                  
                    li{
                        text-align: center;
                        font-size:16px;
                        border-top:1px lighten(black, 80%) solid;
                        width:100%;
                        margin:auto;
                        padding:6px;
                        cursor: pointer;
                        z-index:1;
                        transition:background-color 0.5s ease-in-out;
                        &:hover{
                            background-color: darken($color-secondary, 20%);
                        }                                     
                    }                 
                }
            }
        }       
        .addCart{
            background-color:darken($color-tertiary, 20%);
            border:0;
            width:40%;
            height:45px;
            float:right;    
            border-radius:12px;
            font-size:16px;          
            margin-right:16px; 
            cursor:pointer;       
            @include aAnimation;
            &:hover{
                transform:scale(0.9);
                &:after{
                    opacity:1;
                }
            }
            &::after{
                @include afterScale;        
                border-radius: 40px;                      
                box-shadow: -1px -1px 25px 2px rgba(154, 106, 106, 0.75);
            }
        }
    }
}

.footerProduct{
    margin-top:30px;
}

@media all and (max-width:800px){    
    .coutureProduct{
        flex-direction: column;
        height:800px !important;
        .imageTeddy{
            width:100% !important;
            height:40% !important;
            border-radius: 20px 20px 0 0 !important;
            border-right: none !important;
            border-bottom: 2px $color-couture dashed;
        }
        .teddyDescriptionChild{
            width:100% !important;
        }
        .teddyDescriptionProduct{
            width: 100%;
            height:60%;
            justify-content: unset !important;
        }
        nav{
            width: 95% !important;
            margin: auto;
            margin-top:30px;
            .showColor{
                position:absolute !important;
                width:85% !important;
                margin:auto;
                z-index:2;
                background-color:$color-secondary;
                border:1px darken($color-primary, 60%) solid;
                border-top:none;
            }
        }
        .buttonCart{
            width:100%;
            display:flex;   
            justify-content: center;         
        }
        .addCart{
            width:95% !important;
            margin-right:0 !important;            
            margin-top:50px;            
            float:inherit !important;
        }
    }
}